body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
}
a{
    text-decoration: none;
    color: white;
    text-decoration-style: none;
}
nav ul li{
    list-style-type:none;
    display: inline;
    
}
nav ul{
    background-color: rgb(12, 13, 14);
    padding: 20px 20px 10px 20px;
    min-height: 40px;
}
nav ul li a{
    padding: 10px 10px;
}
.toggle{
    display: block;
  background-color: rgb(0, 0, 0);
  background-size: cover;
 
}
.toggle i{
    font-size: 40px;
    color: white;

    
}
.active{
    
    margin-top: 5px;
    margin-right: 5px;
}
.bar{
    text-align: right;
}
nav ul li:hover{
    background-color: rgb(61, 61, 44);

}
.active #hum{
text-align: right;

}
.active{
    display: none;
}
ul li.hey{
    float: right;
    font-size: 30px;
}
h1.logo{
    display: none;
    font-size: 30px;
}
nav.black ul{
    background:  rgb(14, 14, 14);
    position: fixed;
    margin-top: 0%;
    width:98%;
}
button{
    background-color: brown;
    color: white;
}



.blue{
    width: 100%;
   float: left;
   overflow: hidden;

}
.blue h1{
    text-align: center;
}
.blue .again h1{
    text-align: unset;
}
.again{
    width: 33.33%;
    float: left;
    background-color: black;
    color: white;
  

}
.hide{
    border: 2px solid rgb(255, 0, 0);
    width: max-content;
}
.daniel{
    width: 20%;
    float: left;
}
.daniel h1{
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
}

.daniel .win{
    width: 50%;
    float: left;
}
















@media screen and (max-width:750px){
    .active{
        display: block;
    }   .active h1.logo{
        display: inline;
    
    }
  
    nav ul{
        display: block;
       min-height: 50vh;
       display: none;
       
    }nav ul li{
        display: block;
        text-align: center;
        padding: 30px;
        
    }
    .hell{
        display: block;
    }
    ul li.hey{
        display: none;
    }
  .again{
      width: 100%;
      border-bottom: 2px solid rgb(36, 36, 43);
  }
 .again img{
     width: 80%;
 }
 
    .blue{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }
nav.black ul{
display: none;
}
.daniel{
    width: 100%;
  
}
.daniel h1{
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    width: max-content;
}

.daniel .win{
    width: 50%;
    float: left;
}

}
.red img{
    background-size: 60%;
   height: 100vh;
   width: 80%;
   
  
}
@media screen and (max-width:750px){
    .red img{
        
   
            background-size: 100%;
           height: 300px;
           width: 100%;
          
          
    }
}